{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.teacher in object.section.course.teachers.all %}
        <div style="margin: 0 0 0 80%">
            <a href="{% url 'editAssignment' object.slug %}">
                <button class="btn-sm btn-danger">Edit Assignment</button>
            </a>
            <a onclick="return confirm('Are you sure you want to delete this assignment?');" href="{% url 'deleteAssignment' object.slug %}">
                <button class="btn-sm btn-danger">Delete Assignment</button>
            </a>
        </div>
    {% endif %}
    Title: {{ object.title }}
    <hr>
    Section: {{ object.section.title }}
    <hr>
    Description: {{ object.description }}
    <hr>
    Pdf: <a href="{{ object.pdf_task.url }}" target="_blank">Task</a>
    {% if not answered %}
        <h2>Submit answer</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}

                {% if not field.html_name == "answer" and not field.html_name == "studentUpload" %}

                    {{ field|as_crispy_field }}

                {% else %}
                    <div hidden>
                        {{ field }}
                    </div>
                {% endif %}


            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit answer</button>
        </form>

    {% else %}
        <h2> U already answered on this task</h2>
        <a href="{{ answered.pdf_answer.url }}" target="_blank">Your answer</a>
    {% endif %}



{% endblock %}