{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.teacher in object.course.teachers.all %}
        <div class="col-md-2">
        </div>
        <form class="col-md-6" style="margin: auto" method="post">
            <button class="btn-sm btn-primary"><a href="{% url 'addArticle' object.slug %}">Add article</a></button>
            <button class="btn-sm btn-primary"><a href="{% url 'createQuiz' object.slug %}">Add quiz</a></button>
            <button class="btn-sm btn-primary"><a href="{% url 'addAssignment' object.slug %}">Add assignment</a></button>
            {% csrf_token %}
            <h3>Section: {{ object.title }}</h3>

            {{ form|crispy }}
            <button class="btn-sm btn-primary" type="submit">Update</button>
            <a onclick="return confirm('Are you sure you want to delete this section?');" style="{display: contents;}"
               class="btn-sm btn-danger"
               href="{% url 'sectionDelete' object.slug %} ">Delete</a>

        </form>


    {% else %}
        <h1>You not allow to use this page!</h1>
    {% endif %}
{% endblock %}