{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Rated</th>
                <th scope="col">Link</th>
            </tr>
            </thead>
            <tbody>
            {% for object in uploadAssignmentSet %}
                <tr>
                    <th scope="row">{{ object.0 }}</th>
                    <td>{{ object.1.studentUpload.firstName }} {{ object.1.studentUpload.lastName }}</td>
                    <td>{{ object.1.resultassignment.score }}</td>
                    <td><a href="{{ object.1.get_absolute_url }}" target="_blank">Review work</a></td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>

{% endblock %}

