{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    Task: {{ object.answer }}
    <hr>
    studentUpload: {{ object.studentUpload }}
    <hr>
    Comment: {{ object.comment }}
    <hr>
    Pdf: <a href="{{ object.pdf_answer.url }}" target="_blank">Task</a>
    <hr>
    {% if object.rated %}
        Rated: {{ object.resultuploadanswertask.score }}
    {% endif %}
    {% if not object.rated %}
        {% if form %}
            <h2>Rate the work</h2>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}

                    {% if not field.html_name == "task"  %}

                        {{ field|as_crispy_field }}

                    {% else %}
                        <div hidden>
                            {{ field }}
                        </div>
                    {% endif %}

                {% endfor %}
                <button type="submit" class="btn-primary">Submit</button>
            </form>
        {% endif %}

    {% endif %}

{% endblock %}