{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}
{% block content %}
    <h2>Question:</h2>
    <hr>
    <div class="col-md-4" style="margin: 50px">
        <form action="" method="post">{% csrf_token %}
            {{ form|crispy }}

            <table class="table">
                {{ questionQuizList.management_form }}

                {% for form in questionQuizList.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle row1 row2 %} formset_row">
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field|as_crispy_field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <input class="btn-sm btn-primary" type="submit" value="Save"/>
            {#            <a href="{% url 'quizEdit' question.slug %}">back to the list</a>#}
        </form>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Add another answer',
            deleteText: 'Remove',
            prefix: 'questionQuizList_set'
        });
    </script>
{% endblock %}