{% extends 'base.html' %}
{% load static %}



{% block content %}
    {{ object.title }}
    <form id="quiz-form" class="mt-3 mb-3">
    {% csrf_token %}
    <div id="quiz-box">

    </div>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src='{% static 'js/for_template/jquery.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/for_template/jquery.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/quiz.js' %}'></script>
{% endblock %}