{% load static %}
<div class="card">
    <div class="card-body">
        <img class="card-img-overlay "
             src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg" alt="">
        <h5 class="card-title">{{ course.title }}</h5>
        <span class="card-text" style="padding: 10px">
                {{ course.description }}
        </span>
    </div>

    <div class="card-body" style="margin: 10px">
        <a href="#" class="card-link">Card link</a>
        {% if request.user.student not in course.students.all %}

            <a href="{{ course.get_absolute_url }}subscribe" class="card-link">
                <button class="btn-primary btn-sm">Subscribe</button>
            </a>

        {% endif %}
        {% if request.user.student in course.students.all %}
            <a href="{{ course.get_absolute_url }}unsubscribe" class="card-link" onclick="return confirm('Unsubscribe from a `{{ course.title }}`course?')">
                <button class="btn-danger btn-sm">Unsubscribe</button>
            </a>

        {% endif %}
    </div>
</div>