{% load static %}
<div class="sidebar">

    <nav class="mainMenu">
        <ul class="menu">
            {% if request.user.teacher %}
                <li>
                    <a class="smoothScroll" href="{% url 'courseAssignmentView' %}" title="Assignment review">
                        <i style="font-size: 20px; display:inline; margin: 30px">
                            <img style="display: inline; margin: 0 23px 0 0"
                                 src="{% static 'images/complaint.png' %}"
                                 alt="globe"> Assignment review</i></a>
                </li>
            {% endif %}
            <li>
                <a class="smoothScroll" href="{% url 'courseList' %}" title="Course"> <i
                        style="font-size: 20px; display:inline; margin: 30px">
                    <img style="display: inline; margin: 0 20px 0 0"
                         src="{% static 'images/online-course.png' %}"
                         alt="globe"> Course </i></a>
            </li>

            <li>
                <a class="smoothScroll" href="{% url 'courseListSubscribe' %}" title="My Course"><i
                        style="font-size: 20px; display:inline; margin: 30px">
                    <img style="display: inline; margin: 0 20px 0 0"
                         src="{% static 'images/audio-course.png' %}"
                         alt="globe"> My Course </i></a>
            </li>
            <li>
                <a class="smoothScroll" href="{% url 'profile' %}" title="Profile"><i
                        style="font-size: 20px; display:inline; margin: 30px">
                    <img style="display: inline; margin: 0 20px 0 0"
                         src="{% static 'images/student.png' %}"
                         alt="globe"> Profile</i></a>
            </li>
            <li>
                <a class="smoothScroll" href="{% url 'loginStudent' %}" title="Login"><i
                        style="font-size: 20px; display:inline; margin: 30px">
                    <img style="display: inline; margin: 0 20px 0 0"
                         src="{% static 'images/enter.png' %}"
                         alt="globe"> Login</i></a>
            </li>
            <li>
                <a class="smoothScroll" href="{% url 'logoutStudent' %}" title="Logout"><i
                        style="font-size: 20px; display:inline; margin: 30px">
                    <img style="display: inline; margin: 0 20px 0 0"
                         src="{% static 'images/logout.png' %}"
                         alt="globe"> Logout</i></a>
            </li>
        </ul>
    </nav>

    <nav class="backToTop">
        <ul class="backToTop-menu">
            <li><a class="smoothScroll" href="#section-intro" title="to the top"><i
                    style="font-size: 20px; display:inline; margin: 30px">
                <img style="display: inline; margin: 0 20px 0 0"
                     src="{% static 'images/up.png' %}"
                     alt="globe"> Back to top</i></a>
            </li>
        </ul>
    </nav>

</div>
