<div class="sidebar">

    <nav class="mainMenu">
        <ul class="menu">
            <li>
                <a class="smoothScroll" href="#timeline-part" title="What Is Luxury?"><i
                        class="step icon-question size-24"></i><span class="text">What is Luxury?</span></a>
            </li>
            <li>
                <a class="smoothScroll" href="{% url 'courseList' %}" title="Course"><i
                        class="icon-reciept-1 size-24"></i><span class="text">Course</span></a>
            </li>

            <li>
                <a class="smoothScroll" href="{% url 'courseListSubscribe' %}" title="My Course"><i
                        class="icon-reciept-1 size-24"></i><span class="text">My Course</span></a>
            </li>
            <li>
                <a class="smoothScroll" href="{% url 'profile' %}" title="Testimonial"><i class="bi bi-person"></i><span
                        class="text">Profile</span></a>
            </li>
            <li>
                <a class="smoothScroll" href="#featured-part" title="Top Featured"><i
                        class="step icon-bulleted-list size-24"></i><span class="text">Top Featured</span></a>
            </li>
            <li>
                <a class="smoothScroll" href="#pricing-part" title="Pricing"><i
                        class="step icon-cogs size-24"></i><span class="text">Pricing</span></a>
            </li>
            <li>
                <a class="smoothScroll" href="#membership-part" title="Get a home"><i
                        class="step icon-door-key size-24"></i><span class="text">Get a home</span></a>
            </li>
            <li>
                <a class="smoothScroll" href="#tips-part" title="Important Tips"><i
                        class="step icon-light-bulb size-24"></i><span class="text">Important Tips</span></a>
            </li>
            <li>
                <a class="smoothScroll" href="{% url 'loginStudent' %}" title="Upcoming Events"><i
                        class="step icon-calendar-1 size-24 size"></i><span class="text">Login</span></a>
            </li>
            <li>
                <a class="smoothScroll" href="{% url 'logoutStudent' %}" title="Contact Form"><i
                        class="step icon-envelope-1 size-34"></i><span class="text">Logout</span></a>
            </li>
        </ul>
    </nav>

    <nav class="backToTop">
        <ul class="backToTop-menu">
            <li><a class="smoothScroll" href="#section-intro" title="to the top"><i
                    class="fa fa-chevron-up"></i><span class="text">Back to top</span></a></li>
        </ul>
    </nav>

</div>
